DATABASE_HOST=db
DATABASE_PORT=5432
POSTGRES_DB=gissues
POSTGRES_USER=gissues
POSTGRES_PASSWORD=password

DJANGO_SETTINGS_MODULE=gissues.settings
COMPOSE_PROJECT_NAME=gissues
DJANGO_SECRET_KEY=django-insecure-fyzoyrv2av$%^-@k-w%je9b-bu_)^1md_5lor%jg*am*
DJANGO_DEBUG=True
ALLOWED_HOSTS=*
